<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='keywords' content="<%= @seo_keywords %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/blog_nav", location:'bottom' %>
    <%# Start of container and row %>
    <main role="main" class="container">
    <h1 class="blog-title"> My Blog </h1>
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
        <div class="row mb-2">
          <%= yield %>

          <%# Start of Sidebar %>

         <%= render 'shared/blog_sidebar' %>
          <%# End of sidebar %>
          <%# Start of footer %>
          </div>
          <footer class="blog-footer">
            <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
              <a href="#">Back to top</a>
            </p>
          </footer>
          <%# End of Footer %>
          <%= source_helper("blog") %>
      
    </main>
  </body>
</html>
